@{
    Layout = "~/Areas/System/Views/Shared/_Index.cshtml";
}
<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        链接标题：<input id="title" col="Title" type="text" />
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar">
            <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> 新增</a>
            <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> 修改</a>
            <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> 删除</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var linkType = [
        { Key: '0', Value: '以下组织官方评级机构' },
        { Key: '1', Value: '以下公司认可的评级机构' }
    ]

    $(function () {
        initGrid();
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/SiteManage/Link/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            sortName:'SortId',
            sortOrder:'Asc',
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'Title', title: '链接标题' },
                { field: 'SiteUrl', title: '链接地址' },
                {
                    field: 'BaseCreateTime', title: '添加时间', formatter: function (value, row, index) {
                        return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                   }
                },
                {
                    field: 'LinkType',
                    title: '链接类型',
                    formatter: function (value, item, index) {
                        var typeName =
                            $.grep(linkType, function (item) {
                                return item.Key == value;
                            })[0].Value;
                        return typeName;
                    }
                },
                { field: 'SortId', title: '排序' },

                { field: 'IsLock', title: '状态' , formatter: function (value, row, index) {
                        if (row.IsLock == "@ShowEmum.Yes.ParseToInt()") {
                            return '<span class="badge badge-primary">' + "@ShowEmum.Yes.GetDescription()" + '</span>';
                        } else {
                            return '<span class="badge badge-warning">' + "@ShowEmum.No.GetDescription()" + '</span>';
                        }
                    }
                },
                {  title: '操作',
                   align: 'center',
                   formatter: function (value, row, index) {
                        var actions = [];
                          actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="showEdit(\'' + row.Id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        return actions.join('');
                    }
                }
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $('#gridTable').bootstrapTable('getSelections');
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
       showEdit(id);
    }
    function showEdit(id)
    {
         ys.openDialog({
            title: id > 0 ? '编辑' : '添加',
            content: '@Url.Content("~/SiteManage/Link/LinkForm")' + '?id=' + id,
            width: '768px',
            height: '550px',
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function deleteForm() {
        var selectedRow = $('#gridTable').bootstrapTable('getSelections');
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm('确认要删除选中的' + selectedRow.length + '条数据吗？', function () {
                var ids = ys.getIds(selectedRow);
                ys.ajax({
                    url: '@Url.Content("~/SiteManage/Link/DeleteFormJson")' + '?ids=' + ids,
                    type: 'post',
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }
</script>
